.header{
    padding: 20px;
}
    .id {
        margin: 20px;
    }
        .id p {
            display: inline-block;
            vertical-align: top;
            width: 80%;
            font-size: 1.9rem;
        }

        .span{
            display: inline-block;
            vertical-align: top;
            padding: 2px;
            /* margin-left: 57%; */
            font-size: .65rem;
            border-radius: 100px;
        }
    .span:hover{
        background: #E5E5E5;
    }

.contact{
    background-color: #ECECEC;
    display: flex;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}
    .img{
        margin: 10px;
        width: 20%;
        height: 20%;
        border-radius: 200px;
    }

    .friend {
        margin: 20px 0;
        font-size: 1.2rem;
        font-weight: bold;
        text-shadow: 2px 2px #FCFCFC ;
    }

.contact:hover{
    background-color: #E5E5E5;
}



