.header{
    padding: 20px;
}
    .span{
        display: inline-block;
        vertical-align: top;
        padding: 2px;
        margin-left: 57%;
        font-size: .65rem;
        border-radius: 100px;
    }
    .span:hover{
        background: #D5D5D5;
    }

.contact{
    background-color: #E4E6EB;
    display: flex;
    padding: 20px;
    margin: 5px;
    border-radius: 8px;
}
.contact:hover{
    background-color: #D5D5D5;
}

    .img{
        width: 18%;
        border-radius: 200px;
    }
    .friend{
        font-size: 1rem;
        font-weight: bolder;
    }

