.container{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 30%;
    height: 20%;
    position: absolute;
    top: 15%;
    left: 35%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    z-index: 1000;
}
    .title {
        display: block;
        width: 100%;
        height: 30%;
        justify-content: flex-end;
        border-bottom: 1px solid #D5D5D5;
    }

        .titleButton {
            background-color: transparent;
            vertical-align: top;
            padding: 3px;
            margin: 0 220px;
        }

    .search {
        background-color: transparent;
        width: 15%;
        position: relative;
        top: -42%;
        left: 85%;
    }
